<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static',filename='styles/styles.css') }}" rel="stylesheet" type="text/css" />
  <title>Chatting App</title>
</head>
<body>
  <h2>Chatting App</h2>
  <div id="input-message">
    <input id = "ComposedMessage" type = "text" placeholder="Enter some text...">
    <input id = "SendMessage" value = "Send" class = "Button" type = "submit">
  </div>
</body>
</html>