<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static',filename='styles/styles.css') }}" rel="stylesheet" type="text/css" />
  <title>Chatting App</title>
</head>
<body>
  <h2>Chatting App</h2>
  <div>Message: {{past_message}}</div>
  <form action="#" method="post" id="input-message">
    <div class="input">
      <input type="text" name="ComposedMessage" id="ComposedMessage" placeholder="Enter some text..."> 
      <button id="SendMessage">Send</button> 
    </div>
  </form>
</body>
</html>